<form>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="inputRecipeName">Recipe name</label>
            <input type="text" class="form-control" id="inputRecipeName" placeholder="Recipe">
        </div>
        <div class="form-group col-6">
            <label for="recipeType">Type</label>
            <select id="inputState" class="form-control">
                <option selected>main course</option>
                <option>side dish</option>
                <option>dessert</option>
                <option>appetizer</option>
                <option>salad</option>
                <option>breakfast</option>
                <option>soup</option>
                <option>beverage</option>
                <option>sauce</option>
                <option>drink</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-gorup col-6">
            <label for="includeIngredients">Ingredients</label>
            <input type="text" class="form-control" id="includeIngredients" placeholder="Ingredients">
        </div>
        <div class="form-gorup col-6">
            <label for="excludeIngredients">Exclude Ingredients</label>
            <input type="text" class="form-control" id="excludeIngredients" placeholder="Excluded Ingredients">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="foodIntolerance">Intolerance</label>
            <input type="text" class="form-control" id="foodIntolerance" placeholder="dairy, egg, gluten...">
        </div>
        <div class="form-group col-6">
            <label for="dietType">Diet</label>
            <select id="dietType" class="form-control">
                <option selected></option>
                <option>vegan</option>
                <option>vegetarian</option>
                <option>lacto vegetarian</option>
                <option>ovo vegetarian</option>
                <option>pescetarian</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>